<!doctype html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css'%}" type="text/css">
</head>
<body>
<ul class="menu">
    <li><a href="{% url 'index' %}">Главная</a></li>
    <li><a href="{% url 'add_recipe' %}">Добавить рецепт</a></li>
    <li><a href="{% url 'show_five_recipe' %}">5 случайных рецептов</a></li>
    <li><a href="{% url 'show_all_my_recipe' %}">Мои рецепты</a></li>
    <li><a href="{% url 'logout' %}">Выход</a></li>
</ul>
{% block content %}
<p>Проект “Сайт рецептов” на Django</p>
{% endblock %}
</body>
</html>